body {
  position: relative;
  margin: 0 !important;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#banner-video {
  position: absolute;
  z-index: 0;
  width: auto;
  height: auto;
  transition: 1s opacity;
  filter: brightness(0.45);
}

#particles-js {
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.content_wait2fade {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s opacity, 0.5s transform;
}

.content_container {
  padding: 2em 0px;
  transition: 0.5s opacity, 0.5s transform;
  margin: 0;
  transform: translateY(50px);
}

.content_fadein {
  opacity: 1 !important;
  transform: translateY(0);
 }

.content_title {
  font-weight: 600;
}

.content_title i {
  margin-right: 10px;
}

.content_text_and_block {
  background: #b6d2ecb3;
  line-height: 1.5em;
  padding: 2%;
  margin: 0 10%;
}

.footer {
  background: none;
  width: 50vw;
  align-items: center;
  justify-content: center;
}

.footer_email_signup {
  width: 100%;
  padding: 10px;
  background-color: #1e4d78;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border-radius: 10px;
}

.footer_email_signup_text {
  margin-bottom: 0;
}

#mce-EMAIL.email-top {
  transition: 0.3s opacity;
  opacity: 0.7;
}

#mce-EMAIL.email-top:focus {
  opacity: 1;
}


#mc_embed_signup.footer_signup{
  width: 35%;
}

.banner_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background: black;
  height: 100vh;
  overflow: hidden;
}

.banner {
  width: 45%;
  height: 600px;
  object-fit: contain;
  z-index: 1;
}

.scroll-indicator {
  color: white;
  margin-top: 0.5em;
  font-size: 2.5em;
  animation: 1.5s blink infinite alternate, 5s bounce infinite;
  z-index: 1;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(10px);
  }

  20% {
    transform: translateY(0);
  }

  100% {

  }
}

#mission {
  /* clip-path: polygon(100% 0, 100% 87%, 0 100%, 0 0) !important; */
}

.email-signup-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  z-index: 1;
}

.email-signup-top-text {
  margin-bottom: 1.5em;
  text-align: center;
  color: white;
}

.button-top {
  width: 100% !important;
  border-radius: 0px 0px 8px 8px !important;
  background-color: #1e4d78 !important;
}

.button-top:hover {
  background-color: #7ec7fd !important;
}

.signup-container-top {
  flex-flow: column nowrap;
}

.signup-container-top input.email {
  background-color: #f2f2f2 !important;
  border-radius: 8px 8px 0px 0px !important;
  height: 50px !important;
  padding: 5px 0px !important;
}

.clear-top {
  width: 100% !important;
}
