@font-face {
  font-family: arimo;
  src: url("./fonts/arimo.ttf");
}

@font-face {
  font-family: din-alt;
  src: url("./fonts/DIN-ALT.otf");
}

font-family: "Titillium Web", sans-serif;
font-family: "Cairo", sans-serif; /*  navbar  */
font-family: "Assistant", sans-serif;

body {
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web";
  font-size: 25px;
  position: relative;
}

.content_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 3.5em 0px;
}

.content_title {
  font-size: 2.2em;
  align-self: flex-start;
  padding: 20px 25px 15px 25px;
  font-family: "Assistant";
  padding: 0;
  text-transform: uppercase;
  line-height: 1em;
}

.content_text {
  font-size: 1em;
  align-self: flex-start;
  padding: 0px 25px;
  line-height: 1.5em;
}

.content_text_and_block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  line-height: 1.5em;
  padding: 0 10%;
}

.content_container:nth-of-type(odd) {
  color: #1e4d78;
}

.content_container:nth-of-type(even) {
  /* clip-path: polygon(100% 0, 100% 87%, 0 100%, 0 13%); */
  color: white;
  /* background: linear-gradient(0deg, rgba(0,133,255,1) 0%, rgba(30,77,120,1) 100%); */
  flex-direction: row-reverse;
}

.content_container:nth-of-type(even) .content_text_and_block {
  background: #1e4d78b3;
}

.content_title:nth-of-type(even) {
  color: white;
}

.content_container:last-of-type {
  padding-bottom: 0;
}

.content_text p {
  margin-top: 0px;
  display: flex;
}

.content_text_and_block p {
  font-family: "Cairo";
  display: flex;
}

.inline_img_right {
  display: flex;
  margin-right: 10%;
  width: 25%;
  height: auto;
  object-fit: cover;
}

.inline_img_left {
  display: flex;
  margin-left: 10%;
  width: 25%;
  height: auto;
  object-fit: cover;
}
