.banner_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.banner {
  width: 40%;
  height: 600px;
  object-fit: contain;
}

#mission {
  clip-path: polygon(100% 0, 100% 87%, 0 100%, 0 0) !important;
}

.email-signup-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.email-signup-top-text {
  margin-bottom: 50px;
}

.button-top {
  width: 100% !important;
  border-radius: 0px 0px 8px 8px !important;
  background-color: #1e4d78 !important;
}

.button-top:hover {
  background-color: #4a91e8 !important;
}

.signup-container-top {
  flex-flow: column nowrap;
}

.signup-container-top input.email {
  background-color: #f2f2f2 !important;
  border-radius: 8px 8px 0px 0px !important;
  height: 50px !important;
  width: 500px !important;
  padding: 5px 0px !important;
}

.clear-top {
  width: 100% !important;
}
